@model PWalnik.SDManager.DataModel.Models.Order
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<br />
<form asp-controller="Order" asp-action="Create" method="post" class="form-horizontal">
    <h4>Add a new order.</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2 control-label">Date</label>
        <div class="col-md-10">
            <div class="input-group date" data-provide="datepicker">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
                <input asp-for="OrderDate" type="text" class="form-control" value="@DateTime.Now.Date.ToString("dd-MM-yyyy")"/>
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Quantity</label>
        <div class="col-md-10">
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">UnitPrice</label>
        <div class="col-md-10">
            <input asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Discount</label>
        <div class="col-md-10">
            <input asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
    </div>
    <input type="hidden" asp-for="CustomerId"/>
    <input type="hidden" asp-for="EmployeeId"/>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Add</button> |
            <a asp-action="Index" asp-route-id="@Model.CustomerId" class="btn btn-default">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
    </div>
</form>
