﻿@using Microsoft.AspNetCore.Identity
@using PWalnik.SDManager.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Client" asp-action="Index">Clients</a></li>
        <li><a asp-area="" asp-controller="Reports" asp-action="Index">Reports</a></li>
    </ul>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            @{
                if (User.IsInRole("Administrator"))
                {
                    <li>
                        <a asp-area="" asp-controller="Admin" asp-action="Index" title="Manage">Manage user accounts</a>
                    </li>
                }
                else
                {
                    <li>
                        <a asp-area="" asp-controller="Account" asp-action="MyAccount" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                    </li>
                }
            }           
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
