@model IEnumerable<Order>
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Index" method="get" class="form-inline">
            <div class="form-group">
                <label>Generate report about:</label>
                <input type="text" name="SearchString" class="form-control" />
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-equalizer"></span>
                </button>
            </div>
        </form>
    </div>      
</div>

@if (Model.Any())
{
    <div class="row">      
        <div class="col-md-6">
            <p>Last 10 orders:</p>
            <table class="table table-striped" style="table-layout:fixed">
                <thead>
                    <tr>
                        <th>
                            Order date
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Unit price
                        </th>
                        <th>
                            Discount
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discount)%
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">

        </div>
    </div>
}


